# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos compilados
*.class
*.o
*.exe

# Ignorar arquivos de log
logs/
*.log

#arquivos angular
.angular

# Ignorar arquivos de configuração específicos
.env

#arquivos cache python
__pycache__