.main {
  background-color: var(--black);
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em;
  background-color: var(--gray);
  width: 10em;
  height: 4em;
  cursor: pointer;
}

.maindash {
  background-color: var(--white);
  margin: 1em;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  border-radius: 1em;
  margin-top: 3em;
}

.apexcharts-legend {
  color: white !important;
}

.apexcharts-text {
  color: white !important;
}
