<main class="main position-relative">
  <img
    class="img1 position-absolute top-0 start-0 animate__animated animate__zoomInUp animate__slow"
    [src]="urlImage"
    alt="logo TechMind"
    width="100px"
    #logo
  />
  <div class="font position-absolute top-0 start-0 d-flex">
    <div class="letter">e</div>
    <div class="letter">c</div>
    <div class="letter">h</div>
    <div class="letter">M</div>
    <div class="letter">i</div>
    <div class="letter">n</div>
    <div class="letter">d</div>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="User"
    />
    <label for="floatingInput">User Name</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div>
  <button class="mt-3 btn btn-success">Entrar</button>
</main>
<router-outlet />
